<div class="navbar bg-base-100">
  <div class="flex-1">
    <a href="/" class="btn btn-ghost text-xl">TMJJ</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if user_signed_in? %>
        <li><a href="#">Events</a></li>
      <% end %>
      <% if user_signed_in? && current_user.admin? %>
      <li>
        <details>
          <summary>
            Admin Actions
          </summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a href="#">Manage Groups</a></li>
            <li><a href="#">Manage Events</a></li>
          </ul>
        </details>
      </li>
    <% end %>
      <% if user_signed_in? %>
        <li><a href="<%= edit_user_registration_path %>">Edit Profile</a></li>
        <li>
          <%= button_to "Logout", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li><a href="<%= new_user_session_path %>">Login</a></li>
        <li><a href="<%= new_user_registration_path %>">Signup</a></li>
      <% end %>
    </ul>
  </div>
</div>